
$ap15-color-light-1: #eeeeee;
$ap15-color-light-2: #cccccc;
$ap15-color-dark-1: #333333;
$ap15-color-dark-2: #737373;

#wrap {
  background: black !important;
  color: #cccccc !important;
}


#wrap > header {
  background: black !important;
}

#site-title > a {
  color: white !important;
  text-decoration: none;
}

.item-meta a {
  text-decoration: none;
}

html, a, h1, h2, h3, h4, h5 {
//   font-family: "Letter Gothic Std" !important;
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

header {
  border: none !important;
}

header > a {
  text-decoration: none;
}

a {
  color: white !important;
  opacity: 0.9 !important;
  font-weight: bold !important;
  text-decoration: underline dotted;
}

a:hover {
  opacity: 1 !important;
  transition: 150ms ease-in-out;
}

h1, h2, h3, h4, h5 {
  font-weight: normal !important;
  color: white;
}

.mm-listview {
  a {
    color: $ap15-color-dark-1;
  }
}

#search-form {
  border-top: none;
  background: black;
}

#query {
  background:black;
}

#search-container button[type="submit"] {
  color: white;
}

html {
    background: black;
}

ul.item-pagination.navigation a, ul a {
  color: $ap15-color-light-2 !important;
}

.mm-offcanvas {
  background: $ap15-color-dark-2;
}
