@charset "UTF-8";
@font-face {
  font-family: 'Linearicons-Free';
  src: url("../fonts/Linearicons-Free.eot?w118d");
  src: url("../fonts/Linearicons-Free.eot?#iefixw118d") format("embedded-opentype"), url("../fonts/Linearicons-Free.woff2?w118d") format("woff2"), url("../fonts/Linearicons-Free.woff?w118d") format("woff"), url("../fonts/Linearicons-Free.ttf?w118d") format("truetype"), url("../fonts/Linearicons-Free.svg?w118d#Linearicons-Free") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen {
  /* line 5, sass/_screen.scss */
  * {
    box-sizing: border-box;
  }

  /* line 9, sass/_screen.scss */
  html {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #555;
  }

  /* line 17, sass/_screen.scss */
  em {
    font-weight: 400i;
  }

  /* line 21, sass/_screen.scss */
  strong {
    font-weight: 700;
  }

  /* line 25, sass/_screen.scss */
  a {
    text-decoration: none;
    color: #3e8bff;
  }

  /* line 30, sass/_screen.scss */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Caudex", serif;
    margin: 21px 0;
  }

  /* line 35, sass/_screen.scss */
  h1 {
    font-size: 24.5px;
    line-height: 31.5px;
  }

  /* line 40, sass/_screen.scss */
  h2 {
    font-size: 21px;
    line-height: 31.5px;
  }

  /* line 45, sass/_screen.scss */
  h3 {
    font-size: 17.5px;
  }

  /* line 49, sass/_screen.scss */
  p, ol, ul, dl, blockquote {
    margin: 21px 0;
  }

  /* line 53, sass/_screen.scss */
  nav ul {
    list-style: none;
    padding-left: 0;
  }

  /* line 58, sass/_screen.scss */
  blockquote {
    padding: 21px;
    font-size: 15.75px;
  }
  /* line 62, sass/_screen.scss */
  blockquote:before, blockquote:after {
    content: "";
    width: 50%;
    display: block;
    border-bottom: 1px solid #eee;
    margin: auto;
  }

  /* line 72, sass/_screen.scss */
  table {
    margin: 21px auto;
  }

  /* line 76, sass/_screen.scss */
  thead {
    font-family: "Caudex", serif;
  }

  /* line 80, sass/_screen.scss */
  tr {
    border-bottom: 1px solid #eee;
  }

  /* @group ----- Form ----- */
  /* line 86, sass/_screen.scss */
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  /* line 92, sass/_screen.scss */
  .button,
  button,
  optgroup,
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="tel"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  input[type="month"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #fff;
    line-height: 21px;
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid #aeaeae;
    padding: 5.25px;
    vertical-align: bottom;
  }

  /* line 115, sass/_screen.scss */
  .button,
  button,
  [type="submit"] {
    background-color: #eee;
  }

  /* line 121, sass/_screen.scss */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: middle;
    margin: 0 .5em;
  }

  /* line 127, sass/_screen.scss */
  select {
    padding: 5.25px 42px 5.25px 5.25px;
    background: #fff url("../img/chevron-down.svg") right 10.5px center no-repeat;
    background-size: 10.5px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    max-width: 100%;
  }

  /* line 135, sass/_screen.scss */
  .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 21px;
  }

  /* line 141, sass/_screen.scss */
  .inputs {
    width: 70%;
  }

  /* line 145, sass/_screen.scss */
  .field > label,
  .field > .label,
  .field > .two.columns,
  .field-meta {
    width: 30%;
    padding-top: 5.25px;
  }

  /* @end */
  /* @group ----- Global ----- */
  /* line 157, sass/_screen.scss */
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 161, sass/_screen.scss */
  #content {
    padding: 0 21px;
  }

  /* line 165, sass/_screen.scss */
  a.image {
    display: block;
  }

  /* line 169, sass/_screen.scss */
  a.image img {
    vertical-align: top;
  }

  /* @end */
  /* @group ----- Header ----- */
  /* line 177, sass/_screen.scss */
  header {
    padding: 21px 21px 20px 21px;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 9999;
    background-color: #fff;
  }

  /* line 188, sass/_screen.scss */
  #wrap {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  /* line 194, sass/_screen.scss */
  #site-title {
    font-size: 17.5px;
    font-family: "Caudex", serif;
    margin-right: auto;
  }

  /* line 200, sass/_screen.scss */
  .search-toggle:before,
  .menu-toggle:before,
  .advanced-toggle:before {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 21px;
    width: 31.5px;
    height: 31.5px;
    line-height: 31.5px;
    text-align: center;
    display: block;
  }

  /* line 212, sass/_screen.scss */
  .menu-toggle:before {
    content: "";
  }

  /* line 216, sass/_screen.scss */
  .search-toggle:before {
    content: "";
  }

  /* line 220, sass/_screen.scss */
  .advanced-toggle:before {
    content: "";
  }

  /* line 224, sass/_screen.scss */
  #top-nav {
    z-index: 1;
  }

  /* line 228, sass/_screen.scss */
  #search-container,
  #advanced-form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #eee;
  }

  /* line 241, sass/_screen.scss */
  #search-container legend {
    font-family: "Caudex", serif;
    font-size: 15.75px;
    margin-bottom: 5.25px;
  }

  /* line 247, sass/_screen.scss */
  #search-form {
    border-top: 1px solid #eee;
    padding: 10.5px 21px;
  }

  /* line 252, sass/_screen.scss */
  .advanced-toggle {
    display: inline-block;
  }

  /* line 256, sass/_screen.scss */
  #search-container input[type="text"] {
    border-width: 0 0 1px 0;
    margin: 0;
    width: calc(100% - 84px);
  }

  /* line 262, sass/_screen.scss */
  #search-container button[type="submit"] {
    margin: 0;
    border: 0;
    background-color: #fff;
    text-indent: -9999px;
    color: #3e8bff;
    position: relative;
    display: inline-block;
    padding: 0;
    vertical-align: top;
  }
  /* line 273, sass/_screen.scss */
  #search-container button[type="submit"]:after {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0;
    content: "";
    display: block;
    font-size: 21px;
    position: absolute;
    top: 0;
    left: 0;
    width: 31.5px;
    height: 31.5px;
    line-height: 31.5px;
  }

  /* line 288, sass/_screen.scss */
  #search-container .closed {
    display: none;
  }

  /* line 292, sass/_screen.scss */
  #search-form {
    width: 100%;
  }

  /* line 296, sass/_screen.scss */
  #advanced-form {
    padding: 21px;
    border-top: 1px solid #eee;
  }

  /* line 301, sass/_screen.scss */
  #advanced-form fieldset {
    margin: 0 21px;
  }

  /* line 305, sass/_screen.scss */
  #record-types + p {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
  }

  /* @end */
  /* @group ----- Footer ----- */
  /* line 315, sass/_screen.scss */
  footer {
    padding: 0 21px 21px;
  }

  /* @end */
  /* @group ----- Front Page ----- */
  /* line 323, sass/_screen.scss */
  #home #content {
    padding: 0;
  }

  /* line 327, sass/_screen.scss */
  #home #intro {
    padding: 42px;
    margin: 0;
    background-color: #f3f3f3;
    font-size: 21px;
    line-height: 31.5px;
  }

  /* line 336, sass/_screen.scss */
  #home #featured {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
  }

  /* #featured .image {
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      background: linear-gradient(to top, #000, rgba(0,0,0,0));
      width: 100%;
      z-index: -1;
  } */
  /* line 357, sass/_screen.scss */
  .slick-list,
  .slick-track {
    position: relative;
    height: 100%;
  }

  /* line 363, sass/_screen.scss */
  #featured img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* line 371, sass/_screen.scss */
  #featured .record {
    background-size: cover;
    background-position: center center;
  }

  /* line 376, sass/_screen.scss */
  #featured .record-meta {
    width: 100%;
    color: #fff;
    padding: 21px 25%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 20px #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 396, sass/_screen.scss */
  #featured .record-meta:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  /* line 406, sass/_screen.scss */
  #featured .record-meta a {
    color: #fff;
  }
  /* line 408, sass/_screen.scss */
  #featured .record-meta > * {
    position: relative;
    z-index: 2;
  }

  /* line 414, sass/_screen.scss */
  #featured h3 {
    margin-bottom: 10.5px;
    padding-bottom: 9.5px;
    font-size: 28px;
    line-height: 42px;
    text-transform: none;
    width: 100%;
  }
  /* line 422, sass/_screen.scss */
  #featured h3:not(:only-child) {
    border-bottom: 1px solid #fff;
  }

  /* line 427, sass/_screen.scss */
  #featured .creator:not(:last-child):after {
    content: ",";
  }

  /* line 431, sass/_screen.scss */
  .records {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* line 437, sass/_screen.scss */
  .records .item {
    width: calc(50% - 42px);
    padding: 21px;
    margin: 21px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /* line 448, sass/_screen.scss */
  .records h3 {
    margin-bottom: 10.5px;
    font-size: 17.5px;
    text-transform: none;
    font-weight: 400;
    padding-bottom: 9.5px;
    position: relative;
  }
  /* line 456, sass/_screen.scss */
  .records h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 50%;
    left: 25%;
    background-color: #eee;
  }

  /* line 467, sass/_screen.scss */
  .records .item-meta {
    width: 100%;
    text-transform: uppercase;
    color: #777;
  }

  /* line 473, sass/_screen.scss */
  .records .item img {
    max-width: 100%;
    height: auto;
  }

  /* line 478, sass/_screen.scss */
  .records .creator:not(:last-child):after {
    content: ",";
  }

  /* @end */
  /* @group ----- Search Results ----- */
  /* line 487, sass/_screen.scss */
  .record-type {
    font-family: "Caudex", serif;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 5.25px;
  }

  /* line 494, sass/_screen.scss */
  .search .records a.image {
    margin-bottom: 21px;
  }

  /* @end */
  /* @group ----- Items/Show ----- */
  /* line 503, sass/_screen.scss */
  .items.show:not(.gallery) .item-metadata {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-gap: 21px;
       -moz-column-gap: 21px;
            column-gap: 21px;
  }

  /* line 508, sass/_screen.scss */
  .items.show:not(.gallery) .item-metadata h1 {
    -webkit-column-span: all;
       -moz-column-span: all;
            column-span: all;
  }

  /* line 512, sass/_screen.scss */
  .items.show h1 + .item-metadata {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-gap: 21px;
       -moz-column-gap: 21px;
            column-gap: 21px;
  }

  /* line 517, sass/_screen.scss */
  .items.show h1 + .item-metadata > * {
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid;
  }

  /* line 521, sass/_screen.scss */
  .items.show.gallery .flex {
    height: 100vh;
    margin: 0 -21px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 73.5px;
  }

  /* line 532, sass/_screen.scss */
  .admin-bar.items.show.gallery .flex {
    padding-top: calc(41px + 73.5px);
  }

  /* line 536, sass/_screen.scss */
  .items.show.gallery #content {
    margin-top: -73.5px;
    min-height: 100vh;
    border-bottom: 1px solid #eee;
  }

  /* line 542, sass/_screen.scss */
  .admin-bar.items.show.gallery #content {
    margin-top: calc(-41px - 73.5px);
  }

  /* line 546, sass/_screen.scss */
  .items.show #itemfiles {
    width: 75%;
    background: #333;
    margin-left: 21px;
  }

  /* line 552, sass/_screen.scss */
  .items.show #itemfiles-stage {
    width: 100%;
    height: 80%;
    background: #E0E0E0;
    margin: auto;
  }

  /* line 559, sass/_screen.scss */
  .items.show #itemfiles-nav {
    height: 20%;
    text-align: center;
    padding: 21px;
    background: rgba(0, 0, 0, 0.2);
    border-top: 1px solid #333;
  }

  /* line 567, sass/_screen.scss */
  .items.show .solo #itemfiles-stage {
    height: 100%;
  }

  /* line 571, sass/_screen.scss */
  .items.show .solo #itemfiles-nav,
  .items.show .solo .chocolat-left,
  .items.show .solo .chocolat-right,
  .chocolat-close {
    display: none;
  }

  /* line 578, sass/_screen.scss */
  .chocolat-overlay {
    background-color: #333;
    opacity: 1;
  }

  /* line 583, sass/_screen.scss */
  .items.show #itemfiles-nav img {
    height: 100%;
    width: auto;
    max-width: none;
  }

  /* line 589, sass/_screen.scss */
  .items.show.gallery .item-metadata {
    width: 25%;
    padding: 0 42px 0 21px;
    overflow-y: scroll;
    word-wrap: break-word;
  }

  /* line 596, sass/_screen.scss */
  .item-metadata h3 {
    margin: 0 0 5.25px;
  }

  /* line 600, sass/_screen.scss */
  .item-metadata .element-text {
    word-break: break-word;
  }

  /* line 604, sass/_screen.scss */
  .item-metadata .element {
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid;
    border-bottom: 21px solid transparent;
  }

  /* line 610, sass/_screen.scss */
  .item-metadata nav {
    -webkit-column-span: all;
       -moz-column-span: all;
            column-span: all;
    margin: 0 -21px;
    border-bottom: 1px solid #eee;
  }

  /* line 616, sass/_screen.scss */
  ul.item-pagination.navigation {
    -webkit-column-span: all;
       -moz-column-span: all;
            column-span: all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    margin: 0;
  }
  /* line 623, sass/_screen.scss */
  ul.item-pagination.navigation:after {
    content: "";
    bottom: 0;
    top: 0;
    left: 50%;
    width: 1px;
    background-color: #eee;
    position: absolute;
  }
  /* line 633, sass/_screen.scss */
  ul.item-pagination.navigation a {
    padding: 10.5px;
    display: inline-block;
  }

  /* @end */
  /* @group ----- Items/Search ----- */
  /* line 643, sass/_screen.scss */
  .search-entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 10.5px;
  }

  /* line 649, sass/_screen.scss */
  .search-entry:first-child .advanced-search-joiner {
    display: none;
  }

  /* line 653, sass/_screen.scss */
  .search-entry > * {
    margin-top: 0;
  }

  /* line 657, sass/_screen.scss */
  .search-entry select {
    margin-right: 5.25px;
  }

  /* line 661, sass/_screen.scss */
  .add_search {
    margin: 0 0 21px 30%;
  }

  /* line 665, sass/_screen.scss */
  .remove_search {
    border: 0;
    width: 0;
    text-indent: -9999px;
    position: relative;
    padding: 0;
  }
  /* line 672, sass/_screen.scss */
  .remove_search:after {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    position: absolute;
    left: 100%;
    width: 31.5px;
    height: 31.5px;
    text-indent: 0;
    top: 0;
    line-height: 31.5px;
    margin: 0 10.5px;
  }

  /* @end */
  /* @group ----- Items/Browse ----- */
  /* line 690, sass/_screen.scss */
  #item-filters,
  #search-filters {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  /* line 695, sass/_screen.scss */
  #item-filters ul,
  #search-filters ul {
    padding-left: 0;
    list-style: none;
  }

  /* line 701, sass/_screen.scss */
  #item-filters > ul > li,
  #search-filters > ul > li {
    background-color: #eee;
    padding: 5.25px;
    font-family: "Caudex", serif;
    text-transform: uppercase;
    display: inline-block;
  }

  /* line 710, sass/_screen.scss */
  #item-filters > ul ul,
  #item-filters li,
  #search-filters > ul ul,
  #search-filters li {
    display: inline-block;
    margin: 0;
  }

  /* line 718, sass/_screen.scss */
  #item-filters li li:not(:last-child):after,
  #search-filters li li:not(:last-child):after {
    content: ", ";
  }

  /* line 723, sass/_screen.scss */
  .browse-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* line 729, sass/_screen.scss */
  .browse-header ul {
    margin: 0;
  }

  /* line 733, sass/_screen.scss */
  .browse-header li,
  #sort-links-list {
    display: inline-block;
  }

  /* line 739, sass/_screen.scss */
  .secondary-nav li {
    margin-right: 10.5px;
  }

  /* line 743, sass/_screen.scss */
  .secondary-nav {
    margin-right: auto;
  }

  /* line 747, sass/_screen.scss */
  #sort-links-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 10.5px;
  }

  /* line 753, sass/_screen.scss */
  #sort-links-list li {
    margin-right: 21px;
  }

  /* line 757, sass/_screen.scss */
  #sort-links-list li a {
    opacity: .6;
  }

  /* line 761, sass/_screen.scss */
  #sort-links-list li a:before {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-right: 5.25px;
  }

  /* line 767, sass/_screen.scss */
  #sort-links-list li:first-child a:before {
    content: "";
  }

  /* line 771, sass/_screen.scss */
  #sort-links-list li:nth-child(2) a:before {
    content: "";
  }

  /* line 775, sass/_screen.scss */
  #sort-links-list li:nth-child(3) a:before {
    content: "";
  }

  /* line 779, sass/_screen.scss */
  #sort-links-list .sorting a {
    font-weight: bold;
    opacity: 1;
  }

  /* line 784, sass/_screen.scss */
  #sort-links-list .sorting a:after {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    margin-left: 5.25px;
    font-size: 12.25px;
    display: inline-block;
  }

  /* line 792, sass/_screen.scss */
  #sort-links-list .sorting.desc a:after {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }

  /* line 796, sass/_screen.scss */
  .pagination-nav {
    color: #999;
    margin-left: 42px;
  }

  /* line 801, sass/_screen.scss */
  .pagination li {
    margin-left: 10.5px;
  }

  /* line 805, sass/_screen.scss */
  .pagination a:before {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* line 809, sass/_screen.scss */
  .pagination [rel="prev"]:before {
    content: "";
  }

  /* line 813, sass/_screen.scss */
  .pagination [rel="next"]:before {
    content: "";
  }

  /* line 817, sass/_screen.scss */
  .pagination input[type="text"] {
    border: 0;
    border-bottom: 1px solid #eee;
    width: 31.5px;
    text-align: right;
    color: #555;
    padding: 0;
    line-height: 21px;
    margin: 0;
  }

  /* line 828, sass/_screen.scss */
  .browse .records {
    margin: 0 -21px;
  }

  /* @end */
  /* @group ----- Collections/Browse and Exhibits/Browse----- */
  /* line 836, sass/_screen.scss */
  .browse.collections .records,
  .browse.exhibits .records {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 21px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /* line 844, sass/_screen.scss */
  .browse.collections .record,
  .browse.exhibits .record {
    background-size: cover;
    background-position: center center;
    width: calc(50% - 10.5px);
    position: relative;
    min-height: 25vh;
    margin: 0 0 21px;
  }

  /* line 854, sass/_screen.scss */
  .browse.collections .record-meta:before,
  .browse.exhibits .record-meta:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  /* line 865, sass/_screen.scss */
  .browse.collections .record a,
  .browse.exhibits .record a {
    position: relative;
    color: #fff;
  }

  /* line 872, sass/_screen.scss */
  .browse .record {
    margin: 21px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #eee;
  }

  /* line 880, sass/_screen.scss */
  .browse .record h2 {
    margin: 0;
    position: relative;
    font-size: 24.5px;
  }

  /* line 886, sass/_screen.scss */
  .browse .record .image {
    margin-right: 21px;
    display: block;
    width: 30%;
  }

  /* line 892, sass/_screen.scss */
  .browse .record .image img {
    width: 100%;
  }

  /* line 896, sass/_screen.scss */
  .browse .record-meta {
    text-align: center;
    padding: 21px;
    font-size: 21px;
    line-height: 31.5px;
    width: 100%;
  }

  /* line 904, sass/_screen.scss */
  .browse .image + .record-meta {
    padding-left: 0;
  }

  /* line 908, sass/_screen.scss */
  .view-items-link {
    font-family: "Caudex", serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  /* @end */
  /* @group ----- Collections/Show ----- */
  /* line 922, sass/_screen.scss */
  .items.browse .flex,
  .collections.show .flex {
    border-bottom: 1px solid #eee;
    margin: 0 -21px;
  }

  /* line 928, sass/_screen.scss */
  .collection-meta {
    width: 25%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-left: 1px solid #eee;
    padding: 0 21px;
    margin-left: 21px;
  }

  /* line 936, sass/_screen.scss */
  .collection-meta .mobile-toggle {
    display: none;
  }

  /* line 940, sass/_screen.scss */
  #collection-items {
    width: calc(75% + 21px);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 0 21px 21px;
  }

  /* line 948, sass/_screen.scss */
  #collection-items h2 {
    width: 100%;
    text-align: center;
  }

  /* line 953, sass/_screen.scss */
  #collection-items #item-filters ul {
    padding: 21px 21px 0;
    margin: 0;
  }

  /* line 958, sass/_screen.scss */
  #collection-items #item-filters .collection {
    display: none;
  }

  /* line 963, sass/_screen.scss */
  #collection-items .view-items-link:before {
    content: "";
    width: 50%;
    margin: auto;
    border-top: 1px solid #eee;
    display: block;
    padding-bottom: 20px;
  }

  /* line 972, sass/_screen.scss */
  #collection-items .browse-header {
    padding: 21px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /* @end */
  /* @group ----- Exhibits/Page ----- */
  /* line 982, sass/_screen.scss */
  .exhibits.show #content > h1,
  .exhibits.summary #content > h1 {
    text-align: center;
    width: 70%;
    margin: 21px auto;
  }

  /* line 989, sass/_screen.scss */
  .exhibits.summary #primary,
  #exhibit-blocks,
  #exhibit-pages {
    width: 70%;
    margin: auto;
  }

  /* line 996, sass/_screen.scss */
  #exhibit-pages ul {
    list-style: decimal;
    font-size: 21px;
    line-height: 31.5px;
    font-family: "Caudex", serif;
  }

  /* line 1003, sass/_screen.scss */
  #exhibit-pages li {
    margin: 21px 0;
  }

  /* line 1007, sass/_screen.scss */
  .exhibit-block {
    overflow: hidden;
  }

  /* line 1011, sass/_screen.scss */
  .exhibit-items + * {
    margin-top: 0;
  }

  /* line 1015, sass/_screen.scss */
  .exhibit-items .download-file {
    text-align: center;
    background-color: #eee;
  }
  /* line 1019, sass/_screen.scss */
  .exhibit-items .download-file:last-child {
    margin-bottom: 42px;
  }

  /* line 1024, sass/_screen.scss */
  .exhibit-items .download-file + .download-file {
    text-align: center;
    background-color: #eee;
    margin-top: 21px;
  }

  /* line 1030, sass/_screen.scss */
  .layout-file-text .exhibit-items > * {
    margin-bottom: 10.5px;
  }

  /* line 1034, sass/_screen.scss */
  .layout-file-text .exhibit-items.right {
    margin-left: 42px;
  }

  /* line 1038, sass/_screen.scss */
  .layout-file-text .exhibit-items.left {
    margin-right: 42px;
  }

  /* line 1042, sass/_screen.scss */
  .exhibit-item-caption {
    font-size: 12.25px;
    margin-bottom: 42px !important;
  }

  /* line 1047, sass/_screen.scss */
  #exhibit-page-navigation #exhibit-nav-prev,
  #exhibit-page-navigation #exhibit-nav-next {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 10%;
    font-family: "Caudex", serif;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    text-align: center;
    opacity: .6;
  }
  /* line 1060, sass/_screen.scss */
  #exhibit-page-navigation #exhibit-nav-prev:hover,
  #exhibit-page-navigation #exhibit-nav-next:hover {
    opacity: 1;
  }

  /* line 1065, sass/_screen.scss */
  #exhibit-nav-prev {
    left: 21px;
  }

  /* line 1069, sass/_screen.scss */
  #exhibit-nav-next {
    right: 21px;
  }

  /* line 1073, sass/_screen.scss */
  .current-page {
    display: none;
  }

  /* line 1077, sass/_screen.scss */
  #other-exhibits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
  }

  /* line 1084, sass/_screen.scss */
  #other-exhibits .exhibit {
    width: calc(50% - 42px);
    margin: 21px;
    text-align: center;
    position: relative;
  }

  /* line 1091, sass/_screen.scss */
  #other-exhibits h2 {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 17.5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  /* line 1101, sass/_screen.scss */
  #other-exhibits .exhibit h3 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
  }

  /* line 1111, sass/_screen.scss */
  #other-exhibits .exhibit h3 a {
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 21px;
  }

  /* line 1121, sass/_screen.scss */
  #other-exhibits img {
    width: 100%;
  }

  /* @end */
  /* @group ----- Plugins ----- */
  /* line 1129, sass/_screen.scss */
  #geolocation-browse {
    margin-top: 10.5px;
  }

  /* line 1133, sass/_screen.scss */
  #geolocation-browse #map-links li {
    background-color: #eee;
  }

  /* @end */
}
@media screen and (max-width: 800px) {
  /* @group ----- Header ----- */
  /* line 3, sass/_max800.scss */
  header {
    padding: 10.5px 21px;
  }

  /* line 7, sass/_max800.scss */
  #advanced-form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  /* line 11, sass/_max800.scss */
  #advanced-form fieldset {
    margin: 0 0 21px 0;
  }

  /* @end */
  /* line 17, sass/_max800.scss */
  #content > h1:first-child {
    margin: 10.5px 0;
  }

  /* @group ---- Browse Views ----- */
  /* line 23, sass/_max800.scss */
  .browse-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -10.5px;
  }

  /* line 28, sass/_max800.scss */
  .secondary-nav {
    width: 100%;
    margin: 10.5px 0 0;
  }

  /* line 33, sass/_max800.scss */
  #sort-links,
  .pagination-nav {
    width: 50%;
    margin: 10.5px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 42px;
  }
  /* line 41, sass/_max800.scss */
  #sort-links:only-child,
  .pagination-nav:only-child {
    width: 100%;
  }

  /* line 46, sass/_max800.scss */
  .items-nav + .pagination-nav {
    text-align: center;
    width: 100%;
  }

  /* line 51, sass/_max800.scss */
  #sort-links-list,
  .page-input {
    padding: 10.5px 0;
  }

  /* line 56, sass/_max800.scss */
  #sort-links-list {
    margin-left: 5.25px;
  }

  /* line 60, sass/_max800.scss */
  #sort-links-list li {
    margin-right: 0;
  }
  /* line 63, sass/_max800.scss */
  #sort-links-list li:not(:first-child) {
    margin-left: 10.5px;
  }

  /* line 68, sass/_max800.scss */
  #sort-links-list li a {
    text-indent: -9999px;
    display: inline-block;
    position: relative;
    padding-left: 15.75px;
    width: 15.75px;
  }
  /* line 75, sass/_max800.scss */
  #sort-links-list li a:before, #sort-links-list li a:after {
    text-indent: 0;
    position: absolute;
    top: 0;
    text-align: center;
    width: 15.75px;
  }
  /* line 84, sass/_max800.scss */
  #sort-links-list li a:before {
    left: 0;
    line-height: 21px;
  }

  /* line 90, sass/_max800.scss */
  #sort-links-list .sorting a {
    padding-right: 15.75px;
    width: 31.5px;
  }

  /* line 95, sass/_max800.scss */
  #sort-links-list .sorting a:after {
    right: 0;
    line-height: 21px;
  }

  /* line 100, sass/_max800.scss */
  .pagination-nav {
    text-align: right;
  }

  /* line 104, sass/_max800.scss */
  .records .item {
    width: 100%;
  }

  /* line 108, sass/_max800.scss */
  .browse.collections .record,
  .browse.exhibits .record {
    width: 100%;
  }

  /* @end */
  /* @group ----- Items/Show ----- */
  /* line 117, sass/_max800.scss */
  .items.show:not(.gallery) .item-metadata {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }

  /* line 121, sass/_max800.scss */
  .items.show.gallery .flex {
    display: block;
    margin-right: 0;
    height: auto;
  }

  /* line 127, sass/_max800.scss */
  .items.show #itemfiles-nav {
    display: none;
  }

  /* line 131, sass/_max800.scss */
  .items.show #itemfiles,
  .items.show.gallery .item-metadata {
    width: calc(100% + 42px);
    overflow: visible;
  }

  /* line 137, sass/_max800.scss */
  .items.show.gallery .item-metadata {
    padding: 0;
    max-width: 100%;
  }

  /* line 142, sass/_max800.scss */
  .items.show #itemfiles {
    margin: -31.5px -21px 0;
  }

  /* line 146, sass/_max800.scss */
  .items.show #itemfiles-stage {
    min-height: 500px;
  }

  /* line 150, sass/_max800.scss */
  .admin-bar.items.show.gallery .flex {
    height: auto;
    min-height: 75vh;
  }

  /* line 155, sass/_max800.scss */
  .items.show.gallery .flex {
    position: relative;
    margin: 0;
  }

  /* line 160, sass/_max800.scss */
  .touch .chocolat-fullscreen {
    display: none;
  }

  /* line 164, sass/_max800.scss */
  .touch .chocolat-wrapper .chocolat-pagination {
    margin-right: 0;
    padding-right: 0;
  }

  /* @end */
  /* @group ----- Collections/Show ----- */
  /* line 173, sass/_max800.scss */
  .items.browse .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  /* line 177, sass/_max800.scss */
  .collection-meta {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    border-left: 0;
  }

  /* line 184, sass/_max800.scss */
  .collection-meta .mobile-toggle {
    display: block;
    text-transform: uppercase;
    font-family: "Caudex", serif;
    padding: 9.5px 0;
    border: solid #eee;
    border-width: 1px 0;
  }
  /* line 192, sass/_max800.scss */
  .collection-meta .mobile-toggle:after {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    display: block;
    float: right;
    line-height: 21px;
    width: 21px;
    height: 21px;
    text-align: center;
  }
  /* line 203, sass/_max800.scss */
  .collection-meta .mobile-toggle.open:after {
    content: "";
  }

  /* line 208, sass/_max800.scss */
  .collection-meta .mobile-toggle + .closed {
    display: none;
  }

  /* line 212, sass/_max800.scss */
  #collection-items {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: calc(100% + 21px);
  }

  /* @end */
  /* @group ----- Advanced Search ----- */
  /* line 221, sass/_max800.scss */
  .field > label,
  .field > .label,
  .field > .two.columns,
  .field-meta,
  .inputs {
    width: 100%;
  }

  /* line 229, sass/_max800.scss */
  .add_search {
    margin-left: 0;
  }

  /* line 233, sass/_max800.scss */
  .search-entry {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  /* line 237, sass/_max800.scss */
  .search-entry > * {
    margin-bottom: 5.25px;
  }

  /* @end */
  /* @group ----- Exhibits/Page ----- */
  /* line 245, sass/_max800.scss */
  #exhibit-page-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  /* line 251, sass/_max800.scss */
  #exhibit-page-navigation #exhibit-nav-prev,
  #exhibit-page-navigation #exhibit-nav-next {
    position: relative;
    width: 33%;
    -webkit-transform: none;
            transform: none;
    border: 0;
    padding: 9.5px 5.25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* line 262, sass/_max800.scss */
  #exhibit-page-navigation #exhibit-nav-prev {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: right;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    left: auto;
  }

  /* line 269, sass/_max800.scss */
  #exhibit-page-navigation #exhibit-nav-up {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 9.5px 0;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /* line 279, sass/_max800.scss */
  #exhibit-page-navigation #exhibit-nav-next {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    right: auto;
  }

  /* line 286, sass/_max800.scss */
  #other-exhibits {
    width: 100%;
  }

  /* line 290, sass/_max800.scss */
  #other-exhibits .exhibit {
    width: 100%;
    margin: 21px 0;
  }

  /* line 295, sass/_max800.scss */
  #other-exhibits h3:only-child {
    position: relative;
  }

  /* line 299, sass/_max800.scss */
  #other-exhibits .exhibit h3 a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /* @end */
}
