$base-font-size: 14px;
$base-line-height: 21px;

$heading-font: "Caudex", serif;
$body-font: "Hind", sans-serif;

$spacing-s: .25 * $base-line-height;
$spacing-m: .5 * $base-line-height;
$spacing-l: $base-line-height;

$border-gray: #eee;
$blue: #3e8bff;